body {
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-decoration: underline;
    margin-bottom: 70px;
}

.area {
    resize: none;
    width: 100%; /* Make textarea full width */
    max-width: 600px; /* Limit the maximum width */
    height: 150px; /* Reduce height for mobile view */
    border-radius: 20px;
    padding: 20px; /* Adjust padding */
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (min-width: 768px) {
    .area {
        height: 300px; /* Increase height for larger screens */
    }
}

#showNotesButton, #addNoteButton {
    margin-top: 20px; /* Reduced margin for smaller screens */
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background-color: rgb(83, 14, 28);
    color: bisque;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 10px; /* Adjusted margin for smaller screens */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#showNotesButton:hover, #addNoteButton:hover {
    background-color: rgb(100, 20, 40);
    transform: scale(1.05);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#taskList:empty {
    display: none; /* Hide task list if empty */
}

#taskList {
    background: linear-gradient(to right, #1F1C18, #55221d);
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* Make the task list full width */
    max-width: 600px; /* Limit the maximum width */
    margin: 20px auto;
    color: whitesmoke;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(127, 114, 114, 0.1);
    border-radius: 5px;
    display: flex; /* Make list items flex containers */
    justify-content: space-between; /* Space between note and delete button */
    align-items: center; /* Center align items vertically */
    word-wrap: break-word; /* Prevent overflow by wrapping words */
    overflow:auto; /* Hide any overflowing content */
}

.delete-button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: red; /* Color for delete button */
    font-size: larger;
    margin-left: 10px; /* Add space between text and button */
}



@media (max-width: 600px) {
    .area{
        width: 300px;
        height:150px;
    }

    #taskList{
        width:300px;
    }
}